.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  background-color: #3db83a;
  padding: 0.5rem 2rem;
  box-shadow: 1px 1px 4px rgb(80 114 125 / 40%);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 56px;
}

.nav-text {
  text-align: center;
  opacity: 0.5;
  align-self: center;
}

.jiji-logo {
  font-weight: bold;
  font-size: 1.5rem;
  align-self: center;
}

.nav-cta {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-self: center;
}

.nav-cta-btn {
  background-color: #ffa010;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 4px;
  color: white;
}

.nav-cta-signin {
  align-self: center;
  cursor: pointer;
}

.nav-person {
  justify-self: flex-end;
  align-self: center;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  color: inherit;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0.5rem 0.7rem;
  }

  .nav-cta-signin {
    display: none;
  }

  .nav-text {
    display: none;
  }
}
