.trends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.trend-container {
  text-align-last: center;
  margin-bottom: auto;
  background-color: white;
  border-radius: 4px;
  padding-bottom: 1rem;
}

.trend-text,
.trend-price {
  text-align-last: start;
  padding-left: 0.5rem;
}

.trend-text {
  margin: 0.5rem 0;
}

.trend-price {
  color: #378705;
}

.trend-image {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .trends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .trends {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .trends {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
