.categories {
  background-color: #fff;
  width: 17rem;
  padding: 1rem;
  box-shadow: 5px 2px 7px #b6b6b6;
  height: 32rem;
}


.tag-images {
  width: 10%;
  height: 10%;
}

.cat-containers {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.ad-tag {
  color: grey;
}

@media screen and (max-width: 1000px) {
  .categories,
  .cat-containers,
  .tag-images,
  .ad-numbers {
    display: none;
  }

  
}
